# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/D3D12/Camera/x64/Debug/*.log
/D3D12/Camera/x64/Debug/Camera.idb
/D3D12/Camera/x64/Debug/Camera.pdb
/D3D12/Camera/x64/Debug/Camera.tlog/CL.command.1.tlog
/D3D12/Camera/x64/Debug/Camera.tlog/CL.read.1.tlog
/D3D12/Camera/x64/Debug/Camera.tlog/CL.write.1.tlog
/D3D12/Camera/x64/Debug/Camera.tlog/Camera.lastbuildstate
/D3D12/Camera/x64/Debug/Camera.tlog/Lib-link.read.1.tlog
/D3D12/Camera/x64/Debug/Camera.tlog/Lib-link.write.1.tlog
/D3D12/Camera/x64/Debug/Camera.tlog/lib.command.1.tlog
/D3D12/Camera/x64/Release/Camera.log
/D3D12/Camera/x64/Release/Camera.pdb
/D3D12/Camera/x64/Release/Camera.tlog/CL.command.1.tlog
/D3D12/Camera/x64/Release/Camera.tlog/CL.read.1.tlog
/D3D12/Camera/x64/Release/Camera.tlog/CL.write.1.tlog
/D3D12/Camera/x64/Release/Camera.tlog/Camera.lastbuildstate
/D3D12/Camera/x64/Release/Camera.tlog/Lib-link.read.1.tlog
/D3D12/Camera/x64/Release/Camera.tlog/Lib-link.write.1.tlog
/D3D12/Camera/x64/Release/Camera.tlog/lib.command.1.tlog
/D3D12/DXUtils/DXUtils.vcxproj.user
/D3D12/DXUtils/x64/Debug/DXUtils.idb
/D3D12/GeometryGenerator/x64/Debug/GeometryGenerator.idb
/D3D12/Input/x64/Debug/Input.idb
/D3D12/Main/Debug/vc140.idb
/D3D12/Main/x64/Debug/vc140.idb
/D3D12/MathUtils/x64/Debug/MathUtils.idb
/D3D12/Timer/x64/Debug/Timer.idb
/D3D12/Utils/x64/Debug/Utils.idb
/D3D12/x64/Debug/Main.ilk
/D3D12/x64/Release/Main.iobj
/D3D12/x64/Release/Main.ipdb
/D3D12/DXUtils/x64/Debug/DXUtils.tlog/DXUtils.lastbuildstate
/D3D12/DXUtils/x64/Release/DXUtils.tlog/DXUtils.lastbuildstate
/D3D12/GeometryGenerator/x64/Debug/Geometry.0FB8C24B.tlog/GeometryGenerator.lastbuildstate
/D3D12/GeometryGenerator/x64/Release/Geometry.0FB8C24B.tlog/GeometryGenerator.lastbuildstate
/D3D12/Input/x64/Debug/Input.tlog/Input.lastbuildstate
/D3D12/Input/x64/Release/Input.tlog/Input.lastbuildstate
/D3D12/Main/Debug/Main.tlog/Main.lastbuildstate
/D3D12/Main/x64/Debug/Main.tlog/Main.lastbuildstate
/D3D12/Main/x64/Release/Main.tlog/Main.lastbuildstate
/D3D12/MathUtils/x64/Debug/MathUtils.tlog/MathUtils.lastbuildstate
/D3D12/MathUtils/x64/Release/MathUtils.tlog/MathUtils.lastbuildstate
/D3D12/Timer/x64/Debug/Timer.tlog/Timer.lastbuildstate
/D3D12/Timer/x64/Release/Timer.tlog/Timer.lastbuildstate
/D3D12/Utils/x64/Debug/Utils.tlog/Utils.lastbuildstate
/D3D12/Utils/x64/Release/Utils.tlog/Utils.lastbuildstate
/D3D12/DXUtils/x64/Debug/DXUtils.log
/D3D12/DXUtils/x64/Release/DXUtils.log
/D3D12/GeometryGenerator/x64/Debug/GeometryGenerator.log
/D3D12/GeometryGenerator/x64/Release/GeometryGenerator.log
/D3D12/Input/x64/Debug/Input.log
/D3D12/Input/x64/Release/Input.log
/D3D12/Main/Debug/Main.log
/D3D12/Main/x64/Debug/Main.Build.CppClean.log
/D3D12/Main/x64/Debug/Main.log
/D3D12/Main/x64/Release/Main.log
/D3D12/MathUtils/x64/Debug/MathUtils.Build.CppClean.log
/D3D12/MathUtils/x64/Debug/MathUtils.log
/D3D12/MathUtils/x64/Release/MathUtils.log
/D3D12/Timer/x64/Debug/Timer.Build.CppClean.log
/D3D12/Timer/x64/Debug/Timer.log
/D3D12/Timer/x64/Release/Timer.log
/D3D12/Utils/x64/Debug/Utils.Build.CppClean.log
/D3D12/Utils/x64/Debug/Utils.log
/D3D12/Utils/x64/Release/Utils.log
/D3D12/DXUtils/x64/Debug/DXUtils.pdb
/D3D12/DXUtils/x64/Release/DXUtils.pdb
/D3D12/GeometryGenerator/x64/Debug/GeometryGenerator.pdb
/D3D12/GeometryGenerator/x64/Release/GeometryGenerator.pdb
/D3D12/Input/x64/Debug/Input.pdb
/D3D12/Input/x64/Release/Input.pdb
/D3D12/Main/Debug/vc140.pdb
/D3D12/Main/x64/Debug/vc140.pdb
/D3D12/Main/x64/Release/vc140.pdb
/D3D12/MathUtils/x64/Debug/MathUtils.pdb
/D3D12/MathUtils/x64/Release/MathUtils.pdb
/D3D12/Timer/x64/Debug/Timer.pdb
/D3D12/Timer/x64/Release/Timer.pdb
/D3D12/Utils/x64/Debug/Utils.pdb
/D3D12/Utils/x64/Release/Utils.pdb
/D3D12/x64/Debug/Camera.pdb
/D3D12/x64/Debug/DXUtils.pdb
/D3D12/x64/Debug/GeometryGenerator.pdb
/D3D12/x64/Debug/Input.pdb
/D3D12/x64/Debug/Main.pdb
/D3D12/x64/Debug/MathUtils.pdb
/D3D12/x64/Debug/Timer.pdb
/D3D12/x64/Debug/Utils.pdb
/D3D12/x64/Release/Main.pdb
/D3D12/DXUtils/x64/Debug/DXUtils.tlog/*.tlog
/D3D12/DXUtils/x64/Release/DXUtils.tlog/*.tlog
/D3D12/GeometryGenerator/x64/Debug/Geometry.0FB8C24B.tlog/*.tlog
/D3D12/GeometryGenerator/x64/Release/Geometry.0FB8C24B.tlog/*.tlog
/D3D12/Input/x64/Debug/Input.tlog/*.tlog
/D3D12/Input/x64/Release/Input.tlog/*.tlog
/D3D12/Main/Debug/Main.tlog/*.tlog
/D3D12/Main/x64/Debug/Main.tlog/*.tlog
/D3D12/Main/x64/Release/Main.tlog/*.tlog
/D3D12/MathUtils/x64/Debug/MathUtils.tlog/*.tlog
/D3D12/MathUtils/x64/Release/MathUtils.tlog/*.tlog
/D3D12/Timer/x64/Debug/Timer.tlog/*.tlog
/D3D12/Timer/x64/Release/Timer.tlog/*.tlog
/D3D12/Utils/x64/Debug/Utils.tlog/*.tlog
/D3D12/Utils/x64/Release/Utils.tlog/*.tlog
/D3D12/Input/*.user
/D3D12/Main/*.user
/D3D12/Timer/*.user
/D3D12/Utils/*.user
/D3D12/*.sdf
/D3D12/*.opendb
